{
	"FileServer": "\\10.23.32.8\\Install\\Siemens",
	"Installation" :
	[
		{
			"Id": 1,
			"Title" : "SIMATIC TIA Portal V18 WinCC BCA Ed",
			"IsRunngin" : false,
			"NbReboot": 2,
			"WaitOnReboot" : "00:00:20",
			"NbRebootDone": 0,
			"InstallationDone": false,
			"SourcePath" : "01 - SIMATIC v18",
			"SourceFilename" : "Start.bat"
		},
		{
			"Id" : 2,
			"Title" : "",
			"UnderExcution" :false,
			"NbReboot" : 1,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "02 - SIMATIC - Step 7 Professional 2021 SR1",
			"SourceFilename" : "Setup.exe"
		},
		{
			"Id" : 3,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "03 - TIA Portal v18",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 4,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "04 - SIMATIC - Startdrive",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 5,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 1,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "05 - SIMATIC - S7-PLCSIM",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 6,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 1,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "07 - SIMATIS - WinCC Unified - PC Runtime",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 7,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "08 - SIMATIC -WinCC Runtime Advanced",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 8,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "09 - SIMATIC - ODK v2.5",
			"SourceFilename" : "SilentInstall_ODK1500S.bat"
		},
		{
			"Id" : 9,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "10 - SIMATIC - S7 Distributed Safety v5.4 SP5 Update 2",
			"SourceFilename" : "Setup.exe"
		},
		{
			"Id" : 10,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "11 - SIMATIC Step 7 - CFC",
			"SourceFilename" : "Start.exe"
		},
		{
			"Id" : 11,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 1,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "AuditViewer_V72.exe"
		},
		{
			"Id" : 12,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "AuditViewer_V72_00_Upd1.exe"
		},
		{
			"Id" : 13,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "SIMATIC_Migration_Tool_TIA_V18.exe"
		},
		{
			"Id" : 14,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "SIMATIC_ProSave_V18.exe"
		},
		{
			"Id" : 15,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "SIMATIC_S7PCT_V35_SP3.exe"
		},
		{
			"Id" : 16,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "TIA_Portal_Cloud_Connector_V1_2_SP2.exe"
		},
		{
			"Id" : 17,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 0,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "TIA_Updater_Corporate_Configuration_Tool_V2_5_SP4.exe"
		},
		{
			"Id" : 18,
			"Title" : "",
			"IsRunngin" : false,
			"NbReboot" : 1,
			"NbRebootDone" : 0,
			"InstallationDone" : false,
			"SourcePath" : "01 - SIMATIC v18\\Support",
			"SourceFilename" : "TIAADMIN_V2.exe"
		}
	]
}

