\\10.23.32.8\Install\Siemens
ID,IsRunning,NbReboot,NbRebootDone,InstallationDone,InstallationPath,Program2Execute
 1,    False,       1,           0,           False,01 - SIMATIC v18,SilentInstall.bat
 2,    False,       0,           0,           False,02 - SIMATIC - Step 7 Professional 2021 SR1,Setup.exe
 3,    False,       0,           0,           False,03 - TIA Portal v18\,Start.exe
 4,    False,       1,           0,           False,04 - SIMATIC - Startdrive\,Start.exe
 5,    False,       0,           0,           False,05 - SIMATIC - S7-PLCSIM\,Start.exe
 6,    False,       0,           0,           False,06 - SIMATIC - S7-PLCSIM Advanced\,Start.exe
 7,    False,       0,           0,           False,07 - SIMATIS - WinCC Unified - PC Runtime\,Start.exe
 8,    False,       0,           0,           False,08 - SIMATIC -WinCC Runtime Advanced\,Start.exe
 9,    False,       0,           0,           False,09 - SIMATIC - ODK v2.5\,SilentInstall_ODK1500S.bat
10,    False,       0,           0,           False,10 - SIMATIC - S7 Distributed Safety v5.4 SP5 Update 2\,Setup.exe
11,    False,       0,           0,           False,11 - SIMATIC Step 7 - CFC\,Start.exe
12,    False,       0,           0,           False,12 - SIMATIC - Target for Simulink\,SilentInstall_Target_1500S.bat
13,    False,       0,           0,           False,01 - SIMATIC v18\Support\,AuditViewer_V72.exe
14,    False,       0,           0,           False,01 - SIMATIC v18\Support\,AuditViewer_V72_00_Upd1.exe
15,    False,       0,           0,           False,01 - SIMATIC v18\Support\,SIMATIC_Migration_Tool_TIA_V18.exe
16,    False,       0,           0,           False,01 - SIMATIC v18\Support\,SIMATIC_ProSave_V18.exe
17,    False,       0,           0,           False,01 - SIMATIC v18\Support\,SIMATIC_S7PCT_V35_SP3.exe
18,    False,       0,           0,           False,01 - SIMATIC v18\Support\,TIA_Portal_Cloud_Connector_V1_2_SP2.exe
19,    False,       0,           0,           False,01 - SIMATIC v18\Support\,TIA_Portal_Project_Server_V1_1.exe
20,    False,       0,           0,           False,01 - SIMATIC v18\Support\,TIA_UMC_V2.exe
21,    False,       0,           0,           False,01 - SIMATIC v18\Support\,TIA_Updater_Corporate_Configuration_Tool_V2_5_SP4.exe
22,    False,       0,           0,           False,01 - SIMATIC v18\Support\,TIAADMIN_V2.exe
